{% extends 'cabecalho.njk' %}
{% block body %}
  
<section class="variosLivros">
        <h3>Mais Vendidos</h3>
        <hr>
        <ul class="grid">
            <li ><img src="/img/livro1.jpg" width="250px" height="auto" alt="">
                <a class="preco" href="https://www.estantevirtual.com.br/" target="_blank">R$ 29,90</a>               
            </li>             
            <li ><img src="/img/livro2.jpg" width="250px" height="auto" alt="">
                <a class="preco" href="https://www.estantevirtual.com.br/" target="_blank">R$ 29,90</a>
            </li>
            <li > <img src="/img/livro3.jpg" width="250px" height="auto" alt="">
                <a class="preco" href="https://www.estantevirtual.com.br/" target="_blank">R$ 29,90</a>
            </li>
            <li > <img src="/img/livro4.jpg" width="250px" height="auto" alt="">
                <a class="preco" href="https://www.estantevirtual.com.br/" target="_blank">R$ 29,90</a>
            </li>
            <li ><img src="/img/livro5.jpg" width="250px" height="auto" alt="">
                <a class="preco" href="https://www.estantevirtual.com.br/" target="_blank">R$ 29,90</a>
            </li>
            <li ><img src="/img/livro6.jpg" width="250px" height="auto" alt="">
                <a class="preco" href="https://www.estantevirtual.com.br/" target="_blank">R$ 29,90</a>
            </li>
            <li ><img src="/img/livro7.jpg" width="250px" height="auto" alt="">
                <a class="preco" href="https://www.estantevirtual.com.br/" target="_blank">R$ 29,90</a>
            </li>
            <li ><img src="/img/livro8.jpg" width="250px" height="auto" alt="">
                <a class="preco" href="https://www.estantevirtual.com.br/" target="_blank">R$ 29,90</a>
            </li>
             <li ><img src="/img/livro7.jpg" width="250px" height="auto" alt="">
                <a class="preco" href="https://www.estantevirtual.com.br/" target="_blank">R$ 29,90</a>
            </li>
            <li ><img src="/img/livro8.jpg" width="250px" height="auto" alt="">
                <a class="preco" href="https://www.estantevirtual.com.br/" target="_blank">R$ 29,90</a>
            </li>
        </ul>

    </section>
      {% endblock %}